@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

body{
  background-image: url(https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_1280.jpg);
  background-size: cover;
}
.img{
  text-align: center;
  position: relative;
}

.img_content{
  height: 550px;
  width: 800px;
}

.img_content.nikukyu{
  position: absolute;
  transition: opacity 1s;
}

#clock_date{
  font-family: 'Share Tech Mono', monospace;
  text-shadow: 0 0 20px #0aafe6;
  line-height: 1.2;
  text-align: center;
  margin-top: 40px;
  font-size: x-large;
}

#clock_time{
  font-family: 'Share Tech Mono', monospace;
  text-shadow: 0 0 20px #0aafe6;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 20px;
  font-size: large;
}

.btn{
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-right: 100px;
}

.btn_div{
  text-align: right;
}